<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm a junior at Zakir Husain College of Engineer and Technology, AMU, Aligarh, currently pursuing Electrical Engineering.
      I found myself more into computers and Artificial Inteliigence.
    </p>

    <p>
      Currently, committed to learning everything I could about machine learning, data science, and the tech industry. I believe in open data and open source software and primarily uses Python.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably exploring music, storming on theospy and mythology while relating with science, reading my favourite writers, trying to interpret the poets' work,
      or crossing off another item on my bucket list.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
